In [2]:
n = 5
for i in range(n):
    # print('*')
    for j in range(n):
        print('*' , end = '')

    print()

*****
*****
*****
*****
*****

In [3]:
for i in range(n):
    # print('*')
    for j in range(i+1):
        print('*' , end = '')

    print()

*
**
***
****
*****

In [4]:
for i in range(n):
    m = i+1
    for j in range(m):
        print(m , end = '')

    print()

1
22
333
4444
55555

In [5]:
for i in range(n):
    for j in range(i+1):
        print(j+1 , end = '')

    print()

1
12
123
1234
12345

In [6]:
for i in range(n):
    for j in range(n-i):
        print('*' , end = '')

    print()

*****
****
***
**
*

In [7]:
for i in range(n):
    for j in range(n-i):
        print(j+1 , end = '')
    print()

12345
1234
123
12
1

In [8]:
for i in range(n):
    for j in range(n-i-1):
        print(' ', end = '')
    for k in range(i+1):
        print('*', end = ' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [9]:
for i in range(n):
    for j in range(i):
        print(' ' , end = '')
    for k in range(n-i):
        print('*', end = ' ')

    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [10]:
for i in range(n):
    for j in range(n-i-1):
        print(' ', end = '')
    for k in range(2*(i)+1):
        print('*', end = '')
    print()

    *
   ***
  *****
 *******
*********

In [11]:
for i in range(n):
    for j in range(i):
        print(' ' , end = '')
    for k in range(2*n-((2*i)+1)):
        print('*' , end = '')

    print()

*********
 *******
  *****
   ***
    *

In [12]:
for i in range(n):
    for j in range(n-i-1):
        print(' ', end = '')
    for k in range(2*(i)+1):
        print('*', end = '')
    print()

for i in range(n):
    for j in range(i):
        print(' ' , end = '')
    for k in range(2*n-((2*i)+1)):
        print('*' , end = '')

    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [13]:
for i in range(n):
    for j in range(i+1):
        print('*' , end = '')
    print()

for i in range(n):
    for j in range(n-i):
        print('*' , end = '')
    print()

*
**
***
****
*****
*****
****
***
**
*

In [14]:
for i in range(n):
    for j in range(i+1):
        if ((i + j) % 2 == 0 ):
            print(1, end = '')
        else:
            print(0, end = '')
    print()

1
01
101
0101
10101

In [15]:
for i in range(n):
    for j in range(i+1):
        print(j+1 , end = ' ')
    for k in range(n - 2*(i)):
        print(' ' , end = ' ')
    

    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
for i in range(n):
    print(i , end = '')
    for j in range(n-i-1):
        print(' ' , end = ' ')
    for k in range(i+1):
        print(i+1 , end = ' ')
    #     break
    
    # print(i+1 -1)


       

    print()

0        1
1      2 2
2    3 3 3
3  4 4 4 4
45 5 5 5 5

In [17]:
a = 0
for i in range(n):
    for j in range(i+1):
        a += 1 
        print(a , end  = ' ')

    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [18]:
for i in range(n):
    for j in range(n):
        if ((j == 0 or j ==4) and i != 0)  or ((i == 0 or i == 2) and (j >0 and j< 4)):
            print("*" , end = '')
        else:
            print(end = ' ')
    print()

 ***
*   *
*****
*   *
*   *

In [19]:
for i in range(n):
    for j in range(n):
        if ((j ==0) or (i == 0 or i ==4)):
            print('*', end = ' ')
        else:
            print(end = ' ')

    print()

* * * * *
*
*
*
* * * * *

In [20]:
for i in range(n):
    for j in range(n):
        if ((j ==0) or ( i ==4)):
            print('*', end = ' ')
        else:
            print(end = ' ')

    print()

*
*
*
*
* * * * *

In [21]:
for i in range(n):
    for j in range(n):
        if (j ==0) or (( j == 1) and ( i == 1 or i ==3)) or (( j == 3) and ( i == 0 or i ==4)):
            print('*', end = ' ')
        else:
            print(end = ' ')

    print()

*   *
* *
*
* *
*   *

In [22]:
i = 0
j= 2
for row in range(n):
    for col in range(n):
        if (col == 0) or  (row == col+2 and col > 0):
            print('*' , end  = ' ')
        elif (row == i and col ==j) and (col > 0):
            print('*', end = ' ')
            i += 1
            j -= 1
        else:
            print(end = ' ')

    print()

*  *
* *
*
* *
*  *

In [26]:
char = 65
for i in range(n):
    for j in range(i+1):
        print(chr(char + j), end = '')

    print()

A
AB
ABC
ABCD
ABCDE

In [24]:
# char = 65
for i in range(n):
    for j in range(n-i):
        print(chr(65 + j ), end = '')

    print()

ABCDE
ABCD
ABC
AB
A

In [25]:
# char = 65
for i in range(n):
    for j in range(i+1):
        print(chr(65 + i ), end = '')

    print()

A
BB
CCC
DDDD
EEEEE

In [28]:
# char = 65
for i in range(n):
    for j in range(n-i):
        print(' ' , end = ' ')
    for j in range(i+1):
        print(chr(65 + j), end = ' ')

    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [33]:
for i in range(n):
    for j in range(n-i-1):
        print(' ' , end = ' ')
    for k in range(2*(i) + 1):
        print(chr(65+k) , end = ' ')

    print()

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
for i in range(n):
    for j in range()